/* rgb(gray) */
/* rgb(35,51,51); */

/* rgb(light white) */
/* rgb(197,211,215); */

/* color: rgb(darker shade of white); */
/* color: rgb(168, 180, 184); */

/* test */

footer {
    background: rgb(35, 51, 51);
    height: 90px;
}

footer div ul li {
    top: 10px;
    font-size: 16px;
}

footer div ul li a {
    color: rgb(197, 211, 215);
    background: rgb(35, 51, 51);
}

footer .nav li a:hover,
footer .nav li a:focus {
    color: rgb(168, 180, 184);
    text-decoration: none;
    background-color: rgb(35, 51, 51);
}

.footer-links {
    width: 450px;
    float: none;
    margin: 0 auto;
}

@media (min-width: 260px) {
    .navbar-nav > li {
        float: left;
    }
}