header#site-header .container .home-link {
    position: absolute;
    top: -42px;
    display: block;
    font-size: 16px;
    color: #FFF;
    padding: 12px 12px 12px 0px;
    font-weight: 600;
    z-index: 999;
}


@media (min-width:961px) {
    /* https://stackoverflow.com/questions/6370690/media-queries-how-to-target-desktop-tablet-and-mobile */
    /* great link */
    /* tablet, landscape iPad, lo-res laptops ands desktops */
    header#site-header {
        border-top-width: 0px;
    }
}

@media screen and (max-width: 767px) {
    header#site-header {
        border-top-width: 42px;
    }
    /*the form needs to display none not just the input*/
    header#site-header form {
        display:none;
    }
    header#site-header.subbrand .navbar-toggle {
        position: absolute;
        right: 0px;
        top: -52px;
    }
    header#site-header .navbar-toggle .icon-bar {
        background: none repeat scroll 0 0 #fff;
    }
}
