/*@media (min-width: 768px) {*/
    .navbar-form .form-control {
        display: inline-block;
        width: auto;
        vertical-align: middle;
        border-radius: 0px;
        border: none;
        background-color: rgba(255, 255, 255, 1);
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 0px 1px rgba(0, 0, 0, 0.2);
        height: 32px;
    }
    header#site-header .navbar-form {
        padding: 0;
        margin: 5px 0 5px 15px;
    }
    header#site-header #primary-nav ul.navbar-nav>li>a {
        font-size: 14px;
        font-weight: 600;
        padding-bottom: 4px;
        line-height: 14px;
        margin: 10px 15px;
        padding: 0;
        border-bottom: 2px solid transparent;
        color: #555;
    }
    header#site-header .navbar-form .btn {
        display: inline;
    }
    header#site-header {}
    header#site-header .navbar-header {
        float: none;
    }
    header#site-header #primary-nav {
        display: block;
        width: 100%;
        height: auto;
        font-size: 16px;
        float: none;
        border-top: none;
        margin-top: 0;
        padding-top: 0;
    }
    header#site-header #primary-nav .navbar-nav {
        float: none;
    }
    header#site-header #primary-nav ul.navbar-nav>li>a {
        font-size: 14px;
        line-height: 14px;
        margin: 10px 12px;
        padding: 0;
        color: #555;
    }
    header#site-header #primary-nav ul.navbar-nav>li:first-child>a {
        margin-left: 0;
    }
    header#site-header #primary-nav ul.navbar-nav>li>a {
        font-size: 14px;
        line-height: 14px;
        margin: 10px 15px;
        padding: 0;
        border-bottom: 2px solid transparent;
        color: #555;
    }
    header#site-header #primary-nav ul.navbar-nav>li>a {
        font-size: 14px;
        line-height: 14px;
        margin: 10px 12px;
        padding: 0;
        border-bottom: 2px solid transparent;
        color: #555;
    }
/*}*/

/*@media (min-width:961px) {*/
    /* https://stackoverflow.com/questions/6370690/media-queries-how-to-target-desktop-tablet-and-mobile */
    /* great link */
    /* tablet, landscape iPad, lo-res laptops ands desktops */
    header#site-header {
        border-top-width: 0px;
    }
    header li#TELOS-seminar {
        /* use this instead of pull-right because it should not be pulled right in mobile */
        float: right !important;
        background-color:rgba(35,52,54,1);
    }
    header#site-header #primary-nav ul.navbar-nav>li#TELOS-seminar>a {
        color: rgb(163, 183,187);
    }
    header#site-header #primary-nav ul.navbar-nav>li>a {
        font-size: 18px;
        line-height: 21px;
        margin: 0;
        padding: 15px 0;
        margin: 0 15px;
    }
/*}*/
