/* WebDesignAndSuch.com Demo style */


/* view-source:66.147.244.181/~webdeth4/posts/responsive-css-circles/ */


/* http://webdesignandsuch.com/make-responsive-perfect-circles-with-css/ */

body {
    font-family: 'Raleway', sans-serif;
}

.section-circle a {
    color: rgb(144, 16, 41);
    text-decoration: underline;
}

.section-circle a:hover,
.section-circle a:focus {
    color: rgb(144, 16, 41);
    text-decoration: underline;
}

section.section-circle {
    padding: 50px;
}

.responsive-circle {
    font-size: 20px;
    margin: 0 auto 20px;
    width: 45%;
    vertical-align: center;
    text-align: left;
}

.responsive-circle::after {
    border-radius: 50%;
    content: "";
    display: block;
    height: 0;
    margin-bottom: 20px;
    padding-bottom: 100%;
    width: 100%;
}

.responsive-circle div {
    color: white;
    float: left;
    line-height: 1em;
    margin-top: -1em;
    margin-left: 1em;
    padding-top: 50%;
    text-align: left;
    width: 100%;
}

.color2-circle::after {
    background: rgba(35, 51, 51, 0.9);
}

.color3-circle::after {
    background: rgba(148, 0, 38, 0.8);
}

@media screen and (max-width: 767px) {
    .circle-text {
        padding: 10px 0 20px 95px;
    }
}



/* code to be displayed when screen shrunken half size, still WIP */
.section-circle {
    position: relative;
    z-index: 2;
}

.section-circle div.circle-row {
    position: relative;
    right: 79px;
}

.section-circle .circle-one .img-circle {
    position: absolute;
    right: 18px;
    z-index: -1;
}

.section-circle .circle-two {
    position: relative;
    right: -8px;
    font-size: 15px;
}

.section-circle .circle-three {
    position: relative;
    right: -100px;
}

.section-circle .circle-three .img-circle {
    position: absolute;
    right: 319px;
    z-index: -1;
}

.section-circle .circle-four {
    position: relative;
    right: 15px;
    font-size: 15px;
}

@media (min-width:961px) {
    .section-circle {
        position: relative;
        z-index: 2;
    }
    .section-circle div.circle-row {
        position: relative;
        right: 79px;
    }
    .section-circle .circle-one .img-circle {
        position: absolute;
        right: -8px;
        z-index: -1;
    }
    .section-circle .circle-two {
        position: relative;
        right: -8px;
        font-size: 15px;
    }
    .section-circle .circle-three {
        position: relative;
        right: -100px;
    }
    .section-circle .circle-three .img-circle {
        position: absolute;
        right: 219px;
        z-index: -1;
    }
    .section-circle .circle-four {
        position: relative;
        right: 15px;
        font-size: 15px;
    }
}
