#six-grid .row.top-row {
    margin-bottom: 25px;
}

#six-grid .row.bottom-row {
    position: relative;
    top: -55px;
}
/* style the top left grid section for the image and padding */

#six-grid .top-left img {
    padding-right: 18px;
}
/* style the links and header for the highlights grid, top left and bottom left */

#six-grid .top-left a,
#six-grid .bottom-left a {
    font-size: 16px;
}

#six-grid .highlights-header {
    font-size: 18px;
    font-weight: 500;
}
/* style the events calendar section */

#six-grid .top-middle .calendar-date {
    font-size: 18px;
    font-weight: 500;
}

#six-grid .top-middle .calendar-day {
    font-size: 20px;
}

#six-grid .top-middle > div.row {
    margin-bottom: 20px;
}

#six-grid .top-middle .events-header {
    font-size: 16px;
    font-weight: 500;
}
/* style background and spacing for the top right grid */

#six-grid .top-right .top-right-text {
    background-color: rgb(241, 243, 236);
    padding: 25px 0 40px 25px;
    top: -20px;
}
/* style email and subscribe form */

#six-grid .top-right .top-right-text input,
#six-grid .top-right .top-right-text button {
    border-radius: 0;
}

#six-grid .top-right .top-right-text .input-group {
    margin-top: 18px;
}
/* style subscribe button for email form */

#six-grid .btn-warning,
#six-grid .btn-warning:link,
#six-grid .btn-warning:visited {
    background-color: rgb(230, 156, 23);
    border-radius: 0;
    color: rgb(51, 52, 51);
    border: 1px solid rgb(230, 156, 23);
}

#six-grid .btn-warning:active,
#six-grid .btn-warning:hover {
    background-color: rgb(230, 156, 23);
    color: rgb(88, 88, 88);
}
/* style event calendar button */

#six-grid .btn-danger,
#six-grid .btn-danger:link,
#six-grid .btn-danger:visited {
    background-color: transparent;
    border-radius: 0;
    color: rgb(145, 13, 42);
    border: 2px solid rgb(145, 13, 42);
}

#six-grid .btn-danger:active,
#six-grid .btn-danger:hover {
    background-color: rgb(145, 13, 42);
    color: #fff
}
/* style bottom right grid */

#six-grid .bottom-right .bottom-right-text {
    background-color: rgb(241, 243, 236);
    padding: 20px 0 40px 25px;
}
/* style font weight for top right grid and bottom right grid */

#six-grid .top-right .top-right-text,
#six-grid .bottom-right .bottom-right-text {
    font-weight: 600;
}
/* a href link colors */

#six-grid a {
    color: rgb(144, 16, 41);
    text-decoration: underline;
}

#six-grid a:hover,
#six-grid a:focus {
    color: rgb(144, 16, 41);
    text-decoration: underline;
}
